*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main
{
    margin-left: 24%;
    
}
#imagen{
    width: 200px;
    float: left;
}
#subir{
    margin-top: 65px;
    font-size: 60px;
    float: left;
}
#arch{
    width: 100%;
display: inline-block;
}
#categoria{
    background-color: rgb(114, 255, 126);
    border: 2px black solid;
    width: 180px;
    height: 240px;
    text-align: center;
    float: left;
}
#etiquetas{
    background-color: rgb(162, 127, 241);
    border: 2px black solid;
    width: 180px;
    height: 240px;
    text-align: center;
    float: left;
}
#descripcion{
    background-color: rgb(255, 101, 126);
    border: 2px black solid;
    width: 180px;
    height: 240px;
    text-align: center;
    float: left;
}
#fecha{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
#btnsubir{
    color: white;
    background-color: green;
    font-size: 30px;
    width: 250px;
    border-radius: 5px;
    margin-left: 150px;

}
.et{
    margin-bottom: 10px;
}
.cat{
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
#sp{
    margin-left: 70px;
}