*{
  color: white;
  font-weight: bold;
  
  font-family: "nuevaFuente";
  
}
@font-face{
  font-family: 'nuevaFuente';
  src:url('./../fonts/Ralliankara.otf');
  font-size: 15px;
}
header{
  margin-bottom: 10%;
  margin-top: 5%; 
  background: rgb(169,232,219);
  background: radial-gradient(circle, rgba(169,232,219,1) 54%, rgba(29,215,249,1) 96%, rgba(0,212,255,0.9906337535014006) 100%, rgba(0,212,255,0.9906337535014006) 104%);  
}

body {
 -webkit-font-smoothing: antialiased; 
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 10%;
 margin-top: 5%;  
 background: rgb(169,232,219);
 background: radial-gradient(circle, rgba(169,232,219,1) 54%, rgba(29,215,249,1) 96%, rgba(0,212,255,0.9906337535014006) 100%, rgba(0,212,255,0.9906337535014006) 104%);
}

#tabla1,#tabla2{
  padding-bottom: 5%;
  padding-top: 5%;  
}
#tabla1 td{
  padding: 1%;
  margin: 3%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F98084;
  border-radius: 10px;
}

li {
  float: left;
  border-right:1px solid #F98084;
  border-radius: 1px;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
}
  
  .active {
    background-color: white;
  }
  .celdaImagen{
    width:1%;
    white-space:nowrap;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    height: 56px;
    width: 56px;
  }

  #cabeceraPrimeraTabla{
      background: transparent;
      border-radius: 10px;
      
    
  }
  .checked {
    color: orange;
  }


.videoHoy{
  color: rgb(249, 128, 132)
}


/* - - - - - RATINGS */
.rating {
  position: absolute;
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  margin: auto;
  border-radius: 30px;
  background: #FFF;
  display: block;
  overflow: hidden;
  
  box-shadow: 0 1px #CCC,
              0 5px #DDD,
              0 9px 6px -3px #999;
  
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating:not(:checked) > input {
  display: none;
}

/* - - - - - RATE */

#rate:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(0, 135, 211, .4);
  line-height: 33px;
  text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
  color: rgb(0, 135, 211);
}
/* - - - - - LIKE */

#like:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(233, 54, 40, .4);
  line-height: 33px;
  text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, .6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, .8);
}
#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}

